{% extends "base.jinja" %}

{% block body %}
<main>

    <div class="flex w-full">
        <img class="m-auto h-36" src="{{url_for('static', filename='media/logo_transparent.png')}}" />
    </div>
    <h1 class="text-center">
        Welcome To PyAuth!
    </h1>

    <p class="pb-12 italic opacity-50">
        * Not to be confused 
        with <a class="underline text-blue-700" href="https://pypi.org/project/PyAuth/" target="_blank">PyPI - PyAuth</a>
    </p>

    <div class="grid grid-cols-2 gap-20">
        <div>
            {% include "components/about.jinja" %}
        </div>
        <div>
            {% include "components/public_key.jinja" %}
        </div>
    </div>

    {# <div onclick="GetUser()">
        Me!
    </div> #}
</main>

<script src="{{url_for('static', filename='js\main.js')}}">
</script>
{% endblock body %}
