{% extends "base.jinja" %}

{% block body %}
<main>

    <div class="text-center">
        <img src="{{url_for('static', filename='media/logo_transparent.png')}}" class="m-auto h-36" />
        <p>Powered by <a href="/" target="_blank" class="underline text-blue-700">PyAuth</a></p>
        {% if behalf_of %}
        <h1 class="pb-12">Sign in to {{ behalf_of }}</h1>
        {% else %}
        <h1 class="pb-12">Sign in:</h1>
        {% endif %}
    </div>

    {% include "components/provider_buttons.jinja" %}
</main>
{% endblock body %}