<!DOCTYPE html>
<html lang="en">

<style>

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PyAuth ~ log in</title>
</head>

<body>
    <main>
        <div>
            <a href="http://localhost:3000/signin/github">login with github</a>
        </div>
    </main>

    <script src="{{url_for('static', filename='main.js')}}">
    </script>
</body>

</html>