<section>
    <h2>🚀 What is PyAuth?</h2>
    <p>PyAuth makes logging in with OAuth Providers a breeze for developers. No more hassle of pre-registering
        applications!
    </p>
    <a class="pt-4 block" href="https://github.com/Nyan-Doggo/PyAuth" target="_blank">
        <div class="p-4 border border-black dark:bg-black dark:border-white">
            <p class="font-bold">Instructions, source code and guides are avaliable on
                <span class="text-blue-700 dark:text-blue-400 underline">GitHub</span>
            </p>
        </div>
    </a>
</section>

<section class="pt-12">
    <h2>🔄 Three Easy Steps:</h2>
    <ol class="list list-decimal pl-8">
        <li>
            <h3>Assign a Secret Code:</h3>
            <p>Generate a unique secret code to keep your login secure.</p>
        </li>
        <li>
            <h3>Let's hand it over to PyAuth:</h3>
            <p>Head to PyAuth with a magic URL, and it'll handle the rest.</p>
        </li>
        <li>
            <h3>Return of the Client:</h3>
            <p>Your client is back, and PyAuth sent the user data straight to your callback.</p>
        </li>
    </ol>
</section>

<section class="pt-12">
    <h2>🌈 Optional Fun Stuff:</h2>
    <ul>
        <li>Verify information easily: check the state, hash, and signature.</li>
        <li>We've got your back with a NextJS example for handling user data.</li>
    </ul>
</section>

<section class="pt-12">
    <h2>🤔 Why Verify?</h2>
    <p>Ensure everything's legit: state origin, hash correctness, and signature accuracy.</p>
</section>

<section class="pt-12">
    <h2>✨ Ready to Get Started?</h2>
    <p>Dive into PyAuth and enjoy a seamless OAuth experience. Your users will thank you!</p>
    <a class="pt-4 block" href="https://github.com/Nyan-Doggo/PyAuth" target="_blank">
        <div class="p-4 border border-black dark:bg-black dark:border-white">
            <p class="font-bold">Learn more on
                <span class="text-blue-700 dark:text-blue-400 underline">GitHub</span>
            </p>
        </div>
    </a>
</section>