<h2 class="pb-8">
    The PyAuth public key is currently:
</h2>
<textarea cols="65" rows="15">{{public_key}}</textarea>
<h3>
    What is this weird text?
</h3>
<p>
    A public RSA Key is one half of a RSA Key Pair, the other half is held secret by PyAuth,
    this is implemented as a security measure to verify that your login information
    was indeed approved by PyAuth and by extension the provider you want to log
    in with. Developers use this information to make sure that no one is pretending
    to be you! 
</p>